{
	"extends": "airbnb",
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"arrow-body-style": "off",
		"react/jsx-indent": ["error", 'tab'],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
	}
}