@import '_bootstrap.scss';

body,
html {
	height: 100vh;
}

body {
     background: linear-gradient(45deg, rgba(255,153,135,1) 0%, rgba(237,164,237,1) 100%);	
     color: #fff;
     font-family: 'Lobster', cursive;
     padding-top: 22px;
}

h1 {	
	font-size: 56px;
	text-align: center;
}

td {
	width: 100%;
}

a {
	float: right;
	color: #fff;
	transition: color .2s;

	&:visited,
	&:active {
		color: #fff;
	}

	&:hover {
		color: #e22727;
		text-decoration: none;
		transition: color .2s;
	}
}

.task-name {
	display: inline-block;
	width: 70%;
}

.btn-danger,
.btn-warning {
	margin-right: 10px;
}

.btn-edit {
	margin-right: 10px;
	margin-top: 10px;
}

.completed {
	opacity: 0.3;
	text-decoration: line-through;

	transition: opacity .3s
}

.incomplete {
	opacity: 1;
	text-decoration: none;

	transition: opacity .3s	
}

.form-edit {
	font-size: 24px;
}

.task-name {
	font-size: 24px;

	&:hover {
		cursor: pointer;
	}
}

.form-todo {
	margin-bottom: 30px;
	font-size: 36px;

	height: 66px;

	border: none;
}

.table {
	margin-bottom: 0;
}

hr {
	margin-top: 0;
}

.fa {
	margin-right: 30px;
}